%section.breadcrumb_area{:style => "background: url(assets/breadcrumb/breadcrumb-bg-5.jpg)"}
  .container
    .breadcrumb_inner
      %h3 Liên hệ chúng tôi
%section.contact_information.p_100
  .container
    .flag_center_title.wow.animated.fadeInUp{"data-wow-delay" => "0.2s"}
      %h2
        %img{:alt => "", :src => "assets/icon/flag-2.png"}/
        Thông Tin Liên Lạc
    .row.contact_info_inner.justify-content-center
      .col-lg-4.col-sm-6.wow.animated.fadeIn{"data-wow-delay" => "0.2s"}
        .contact_info_item
          %i.icon-map_marker
          %h4 Showroom
          %p
            18 Phan Văn Trị, Phường 7, Q. Gò Vấp,
            %br
            TP.HCM
      .col-lg-4.col-sm-6.wow.animated.fadeIn{"data-wow-delay" => "0.4s"}
        .contact_info_item
          %i.icon-phone1
          %h4 Hotline
          %h5
            %a{:href => "tel: (+84)35 750 2346"} 035 750 2346
            %span (Ms.Dev)
      .col-lg-4.col-sm-6.wow.animated.fadeIn{"data-wow-delay" => "0.6s"}
        .contact_info_item
          %i.icon-envelop
          %h4 Mail Addres
          %h5
            %a{href: "mailto:nguyenvanloc1247@gmail.com"} nguyenvanloc1247@gmail.com
          %h5
            %a{href: "mailto:nguyenvanloc1247@gmail.com"} nguyenvanloc1247@gmail.com
%section.main_contact_area.p_100
  .container
    .flag_center_title.wow.animated.fadeInUp{"data-wow-delay" => "0.2s"}
      %h2
        %img{:alt => "", :src => "assets/icon/flag-2.png"}
        Liên hệ với chúng tôi
    = render 'form'
