= render "layouts/introduce/breadcumb"
%section.company_area.p_100
  .container
    %h2
      %img{:alt => "", :src => "/assets/icon/flag-2.png"}
      Đại lý Toyota Đông Sài Gòn
    .block
      %p
        %strong Từ việc kinh doanh ôtô Toyota nhập khẩu, đến năm 1998, sau khi chính thức trở thành đại lý của Công ty Ôtô Toyota Việt Nam,
        Công Ty Cổ Phần Toyota Đông Sài Gòn đã gặt hái được những thành công bước đầu rất đáng khích lệ,
        như: năm 2001 và 2002 liên tiếp đạt hạng ba và và vươn lên hạng nhì trong hệ thống phân phối của Toyota Việt Nam
        về đại lý có lượng xe bán ra nhiều nhất trên thị trường cả nước. Đến ngày 20/11/2003, TESC đã trở thành đại lý thứ hai
        trong hệ thống Toyota tại Việt Nam đạt được số lượng xe bán ra trên 5.000 chiếc và vinh dự nhận Giải Vàng dành cho Đại
        lý xuất sắc nhất trong hệ thống Toyota trên toàn quốc năm 2007. Không dừng lại với những thành tích của chính mình,
        TESC đã tự hào là Đại lý đầu tiên của Toyota Việt Nam đạt doanh số bán ra 20.000 xe vào ngày 5/7/2010. Đây là thành quả
        chung của tập thể CB - NV Công ty trong suốt thời gian qua.
      %p
        %strong Toyota Đông Sài Gòn
        có một lực lượng nhân viên bán hàng hùng hậu, một đội ngũ kỹ thuật viên và cố vấn dịch vụ có trình độ cao theo tiêu
        chuẩn đánh giá của Công Ty Ôtô Toyota Việt Nam và đặc biệt là một phương cách kinh doanh khoáng đạt, đa dạng mang
        đậm dấu ấn văn hóa doanh nghiệp.
      %p
        Đội ngũ nhân viên của công ty đã đạt được rất nhiều giải thưởng cao quý của Toyota Việt Nam: Nhân viên tư vấn bán hàng
        xuất sắc nhất, Cố vấn dịch vụ xuất sắc, Nhân viên tư bán hàng có kỹ năng giao dịch qua điện thoại tốt nhất 2 năm liền...
      %p
        %strong Toyota Đông Sài Gòn
        cũng nhận được bằng khen của Thủ Tướng Chính Phủ vào ngày 22/8/2002 và rất nhiều bằng khen của UBND Thành Phố, giấy
        khen của các Cơ quan Ban ngành Thành Phố và của Tổng Công Ty Bến Thành về những thành tích xuất sắc trong những năm vừa qua.
      %p
        %strong Địa chỉ:
        18 Phan Văn Trị, Phường 7, Q. Gò Vấp, TP.HCM.
        %br
        %strong Điện thoại:
        = link_to "(+84)38 3829 828" , 'tel: (+84)38 3829 828'
%section.auto_market_area.p_100
  .container
    .row.market_inner
      .col-lg-6
        .market_text
          %h3
            %img{:alt => "", :src => "/assets/icon/flag-2.png"}>/
            World largest
            %span automotive
            marketplace.
          %ul#myTab.nav.nav-tabs{:role => "tablist"}
            %li.nav-item
              %a#home-tab.nav-link.active{"aria-controls" => "home", "aria-selected" => "true", "data-toggle" => "tab", :href => "#home", :role => "tab"} Our Mission
            %li.nav-item
              %a#profile-tab.nav-link{"aria-controls" => "profile", "aria-selected" => "false", "data-toggle" => "tab", :href => "#profile", :role => "tab"} Our Mission
            %li.nav-item
              %a#contact-tab.nav-link{"aria-controls" => "contact", "aria-selected" => "false", "data-toggle" => "tab", :href => "#contact", :role => "tab"} Our Goal
          #myTabContent.tab-content
            #home.tab-pane.fade.show.active{"aria-labelledby" => "home-tab", :role => "tabpanel"}
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do them minim veniam, quis nostrud exercitation.
              .row
                .col-sm-6
                  .media
                    .d-flex
                      %i.icon-car_2
                    .media-body
                      %h4 Best Collection
                      %p Lorem ipsum dolor sit amet consectetur adipisicing
                .col-sm-6
                  .media
                    .d-flex
                      %i.icon-pricing
                    .media-body
                      %h4 Best Pricing
                      %p Lorem ipsum dolor sit amet consectetur adipisicing
            #profile.tab-pane.fade{"aria-labelledby" => "profile-tab", :role => "tabpanel"}
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do them minim veniam, quis nostrud exercitation.
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do them minim veniam, quis nostrud exercitation.
            #contact.tab-pane.fade{"aria-labelledby" => "contact-tab", :role => "tabpanel"}
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do them minim veniam, quis nostrud exercitation.
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do them minim veniam, quis nostrud exercitation.
      .col-lg-6
        .market_image
          %img.img-fluid{:alt => "", :src => "/assets/minhduyen_staff.jpg"}

%section.budget_feaute_area
  .container
    .row.b_feature_inner
      .col-lg-3.col-sm-6
        .b_f_item.wow.animated.fadeInLeft{"data-wow-delay" => "0.2s"}
          .icon
            %i.icon-free_delivery
          %a
            %h4 Free Shipping
          %p Lorem ipsum dolor sit amet after consectetur adipisicing
      .col-lg-3.col-sm-6
        .b_f_item.wow.animated.fadeInLeft{"data-wow-delay" => "0.4s"}
          .icon
            %i.icon-setting
          %a
            %h4 5 Free Servicing
          %p Lorem ipsum dolor sit amet after consectetur adipisicing
      .col-lg-3.col-sm-6
        .b_f_item.wow.animated.fadeInLeft{"data-wow-delay" => "0.6s"}
          .icon
            %i.icon-support1
          %a
            %h4 24/7 Help Center
          %p Lorem ipsum dolor sit amet after consectetur adipisicing
      .col-lg-3.col-sm-6
        .b_f_item.wow.animated.fadeInLeft{"data-wow-delay" => "0.8s"}
          .icon
            %i.icon-gist
          %a
            %h4 Sure Gift Packs
          %p Lorem ipsum dolor sit amet after consectetur adipisicing

%section.car_about_area.yacht_dubble_img.about_counter.p_100
  .container
    .flag_center_title.wow.animated.fadeInUp{"data-wow-delay" => "0.2s"}
      %h2
        %img{:alt => "", :src => "/assets/icon/flag-2.png"} Lorem ipsum
    %p.single_text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do them minim veniam, quis nostrud exercitation. ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute
    .row.counter_inner
      .col-lg-3.col-sm-6.wow.animated.fadeInUp{"data-wow-delay" => "0.2s"}
        .counter_item
          %h4
            %span.counter= Time.current.year - 1998
            +
          %h6 Kinh nghiệm
      .col-lg-3.col-sm-6.wow.animated.fadeInUp{"data-wow-delay" => "0.4s"}
        .counter_item
          %h4
            %span.counter 32.000
            +
          %h6 Khách hàng
      .col-lg-3.col-sm-6.wow.animated.fadeInUp{"data-wow-delay" => "0.6s"}
        .counter_item
          %h4
            %span.counter 5
            +
          %h6 Showrooom
      .col-lg-3.col-sm-6.wow.animated.fadeInUp{"data-wow-delay" => "0.8s"}
        .counter_item
          %h4
            %span.counter 500
            +
          %h6 Nhân viên
    .counter_person
      %img.img-fluid{:alt => "", :src => "/assets/image_team.jpg"}
