.developer
  %section#about.py_80.full_row.bg_white
    .container
      .row
        .col-md-12.col-lg-12
          .section_title_1.text-center.mx-auto.pb_60.wow.animated.slideInUp
            %h2.title.text-uppercase
              %span.line_double.mx-auto.color_default about
              about myself
            %span.sub_title "Khi 17 tuổi, tôi đọc được một câu trích dẫn “Nếu bạn sống mỗi ngày như thể ngày đó là ngày cuối cùng trong đời thì một ngày nào đó bạn sẽ làm được điều đúng đắn”. Câu nói ấy đã ám ảnh tôi và kể từ đó trong suốt 33 năm qua tôi đã nhìn vào gương mỗi buổi sáng và tự hỏi mình “Nếu hôm nay là ngày cuối cùng của đời mình, liệu tôi có muốn là những điều mình sẽ làm hôm nay không? Và bất cứ khi nào câu trả lời là “không” trong nhiều ngày liên tiếp, tôi nhận ra mình cần phải thay đổi." 
            %footer.blockquote-footer.font-weight-bold  Steve Jobs --

      .about_one
        .row
          .col-md-7.col-lg-7
            .myself.color_secondery.wow.animated.fadeInLeft
              %p
                Xin chào mọi người, tôi tên là Nguyễn Văn Lộc, là một full-stack developer kiêm writer, blogger. Hay nói một cách dễ hiểu tôi là một lập trình viên, và là một người viết blog. Welcome to my world !!!
              %p.pt_15
                Tôi là cựu sinh viên khoá 07 của trường Đại Học Công Nghiệp Thực Phẩm, sau khi ra trường tôi đầu quân vào một công ty startup chuyên làm những dự án outsource cho khách hàng Châu Âu có tên là MicLabs từ năm 2020 đến nay.
              %p.pt_15
                Đây là dự án đầu tiên mà tôi đã tự tay làm tất cả mọi thứ để xây lên một trang web, và sau đó tôi mong muốn rằng có thể hoàn thành dự án my Blog trong năm nay, để tôi có thể truyền tải tất cả cảm xúc dạt dào của tôi tới độc giả. à nhưng, Thành thật mà nói thì tôi không phải là người giỏi viết lách, tôi chỉ muốn chia sẻ những cảm xúc thật của mình đến cho mọi người.
            .personal_info.pt_15
              .row
                .col-md-12.col-lg-6
                  %ul
                    %li
                      %span.color_secondery Tên :
                      %b
                        Nguyễn Văn Lộc
                    %li
                      %span.color_secondery Email :
                      %b
                        nguyenvanloc1247@gmail.com
                    %li
                      %span.color_secondery Số điện thoại :
                      %b
                        %span (+84)35 750 2346
                .col-md-12.col-lg-6
                  %ul
                    %li
                      %span.color_secondery Ngày sinh :
                      %b
                        20 November 1998
                    %li
                      %span.color_secondery Đặc điểm nhận dạng :
                      %b
                        Đẹp trai
                    %li
                      %span.color_secondery FaceBook :
                      %b
                        %a{href: "https://www.facebook.com/locmiclabs/", target: '_blank'}
                          facebook.com/locmiclabs
          .col-md-5.col-lg-5
            .profile_img.personal_video.wow.animated.fadeInRight
              %img{:alt => "image", :src => "https://disappointmentquotes.com/wp-content/uploads/2021/05/steve-jobs-apple-tv.jpg"}

  %section#skill.py_80.bg_secondery.full_row
    .container
      .row
        .col-md-12.col-lg-12
          .section_title_1.text-center.mx-auto.pb_60.wow.animated.slideInUp
            %h2.title.text-uppercase
              %span.line_double.mx-auto.color_default> skill
              Programming skills
            %span.sub_title "Chưa có ai có thể viết được một phần mềm hoàn hảo, bạn cũng vậy"
      .my_skill
        .row
          .col-md-12.col-lg-6
            .about_myskill.color_secondery.wow.animated.slideInLeft
              %h2.color_primary Some talk about my professional Programming skills
              %p.pt_15
                Tôi đã được làm việc với Ruby on Rails Từ cuối năm 2019 đến nay, một ngôn ngữ lập trình thật đẹp, đúng như cái tên của nó 'Ruby'.
              %p.pt_15
                Từ khi làm lập trình web tôi đã có định hướng mình sẽ trở thành một full-stack developer với ngôn ngữ Ruby để viết Back end, tôi còn có thể dùng thêm HTML, CSS và JQUERY để làm Front end. Và không thể thiếu đó là database, tôi đã lựa chọn PostgreSQL là hệ quản trị cơ sở dữ liệu quan hệ mã nguồn mở rất mạnh mẽ.
          .col-md-12.col-lg-6
            .skill-progress.wow.animated.slideInRight
              .prgs-bar.fact-counter
                %span HTML
                .progress.count.wow{"data-wow-duration" => "0ms"}
                  .skill-percent
                    %span.count-num{"data-speed" => "3000", "data-stop" => "90"}> 0
                    \%
                  .progress-bar{"aria-valuemax" => "100", "aria-valuenow" => "90", :role => "progressbar"}
              .prgs-bar.fact-counter
                %span CSS
                .progress.count.wow{"data-wow-duration" => "0ms"}
                  .skill-percent
                    %span.count-num{"data-speed" => "3000", "data-stop" => "90"}> 0
                    \%
                  .progress-bar{"aria-valuemax" => "100", "aria-valuenow" => "90", :role => "progressbar"}
              .prgs-bar.fact-counter
                %span JQuery
                .progress.count.wow{"data-wow-duration" => "0ms"}
                  .skill-percent
                    %span.count-num{"data-speed" => "3000", "data-stop" => "85"}> 0
                    \%
                  .progress-bar{"aria-valuemax" => "100", "aria-valuenow" => "85", :role => "progressbar"}
              .prgs-bar.fact-counter
                %span Ruby on Rails
                .progress.count.wow{"data-wow-duration" => "0ms"}
                  .skill-percent
                    %span.count-num{"data-speed" => "3000", "data-stop" => "90"}> 0
                    \%
                  .progress-bar{"aria-valuemax" => "100", "aria-valuenow" => "90", :role => "progressbar"}
              .prgs-bar.fact-counter
                %span PostgreSQL
                .progress.count.wow{"data-wow-duration" => "0ms"}
                  .skill-percent
                    %span.count-num{"data-speed" => "3000", "data-stop" => "90"}> 0
                    \%
                  .progress-bar{"aria-valuemax" => "100", "aria-valuenow" => "90", :role => "progressbar"}

  %section#services.py_80.full_row.bg_white
    .container
      .row
        .col-md-12.col-lg-12
          .section_title_1.text-center.mx-auto.pb_60.wow.animated.slideInUp
            %h2.title.text-uppercase
              %span.line_double.mx-auto.color_default> services
              What i do
            %span.sub_title "Ngay dưới đây đó là tất cả những công việc mà tôi đang làm"
        .services_item1
          .col-md-12.col-lg-12
            .row
              .col-md-6.col-lg-4
                .service_two.text-center.pt_15.mb_30.wow.animated.slideInUp
                  .srv_item_number.color_lightgray
                    %strong 01.
                  %h3.p_20.text-uppercase Front-end Developer
                  .srv_icon.color_white
                    %span.flaticon-website-design-symbol
                  %p Fornt end developer là người xây dựng và phát triển giao diện bên ngoài của một website dựa vào những bản thiết kế. Những giao diện website đó sẽ được người dùng nhìn thấy đầu tiên khi truy cập vào trang web thông qua trình duyệt.
              .col-md-6.col-lg-4
                .service_two.text-center.pt_15.mb_30.wow.animated.slideInUp
                  .srv_item_number.color_lightgray
                    %strong 02.
                  %h3.p_20.text-uppercase Back-end Developer
                  .srv_icon.color_white
                    %span.flaticon-programming
                  %p Backend Developer là người có trách nhiệm tuyệt đối và thường tập trung vào các hoạt động hậu trường nếu như xảy ra bất kỳ hoạt động nào ở trên trang web. Phát triển việc xây dựng mã và ngôn ngữ chạy phía sau hậu trường ở trên máy chủ web hoặc Backend.
              .col-md-6.col-lg-4
                .service_two.text-center.pt_15.mb_30.wow.animated.slideInUp
                  .srv_item_number.color_lightgray
                    %strong 06.
                  %h3.p_20.text-uppercase Database Developer
                  .srv_icon.color_white
                    %span.flaticon-editor
                  %p Nâng cao hiệu quả kinh doanh bằng cách tổ chức và sử dụng dữ liệu. Phát triển data, thiết kế và xây dựng cơ sở dữ liệu phù hợp với nhu cầu kinh doanh và cải thiện cơ sở dữ liệu hiện có bằng cách mở rộng phạm vi hoặc chức năng của data.
              .col-md-6.col-lg-4
                .service_two.text-center.pt_15.mb_30.wow.animated.slideInUp
                  .srv_item_number.color_lightgray
                    %strong 03.
                  %h3.p_20.text-uppercase Ruby on Rails
                  .srv_icon.color_white
                    %span.flaticon-ruby
                      %img{src: "/assets/blog/ruby.svg"}
                  %p nếu ví các ngôn ngữ lập trình như là một chiếc xe hơi thì Ruby on Rails sẽ là một chiếc smart car. Với thiết kế thực tế, Nó sẽ đưa bạn đi vòng quanh thành phố một cách nhanh chóng.
              .col-md-6.col-lg-4
                .service_two.text-center.pt_15.mb_30.wow.animated.slideInUp
                  .srv_item_number.color_lightgray
                    %strong 04.
                  %h3.p_20.text-uppercase PostgreSQL
                  .srv_icon
                    %span.flaticon-postgres
                      %img{src: "/assets/blog/Postgresql_elephant.svg"}
                  %p PostgreSQL là hệ quản trị cơ sở dữ liệu quan hệ mã nguồn mở tiên tiến mà mục đích chính là tuân thủ theo chuẩn và khả năng mở rông. PostgreSQL hay còn gọi là Postgree áp dụng chuẩn SQL ANSI/IOS cùng với các phiên bản.
              .col-md-6.col-lg-4
                .service_two.text-center.pt_15.mb_30.wow.animated.slideInUp
                  .srv_item_number.color_lightgray
                    %strong 05.
                  %h3.p_20.text-uppercase Server
                  .srv_icon.color_white
                    %span.flaticon-server
                      %img{src: "/assets/blog/cloud-server.svg"}
                  %p Tôi đã được làm việc với các server như là nền tảng đám mây heroku hoặc là VPS, công việc của tôi là cài đặt môi trường để deploy lên trên môi trường thực tế, đảm bảo cấu hình server đúng và duy trì được đường truyền.

  %section#blog.py_80.bg_secondery.full_row
    .container
      .row
        .col-md-12.col-lg-12
          .section_title_1.text-center.mx-auto.pb_60.wow.animated.slideInUp
            %h2.title.text-uppercase
              %span.line_double.mx-auto.color_default> blog
              What’s News
            %span.sub_title "Đừng để người khác cầm bút khi bạn viết câu chuyện cuộc đời mình."
        .col-md-12.col-lg-12
          .blog_grid_1.wow.animated.slideInUp
            .row
              .col-md-12.col-lg-4
                .blog_item
                  .comments
                    %i.fa.fa-comment{"aria-hidden" => "true"}
                    %span.color_white 12
                  .blog_img.overlay_one
                    %img{:alt => "image", :src => "/assets/blog/01.jpg"}/
                  .blog_content.bg_white.color_secondery
                    .blog_title
                      %a.color_primary{:href => "blog-details.html"}
                        %h5 concept of computer science and its applications in life
                    %p.mt_15.mb_30
                      is the study of algorithmic processes, computational machines and computation itself. As a discipline,computer science spans a range of topics from theoretical studies of algorithms, computation andinformation to the practical issues of implementing...
                    .admin
                      %img{:alt => "image", :src => "/assets/blog/developer.png"}/
                      %span.color_white By - John Nguyễn
                    .date.float-right.color_primary 18 Jan 2021
              .col-md-12.col-lg-4
                .blog_item
                  .comments
                    %i.fa.fa-comment{"aria-hidden" => "true"}
                    %span.color_white 18
                  .blog_img.overlay_one
                    %img{:alt => "image", :src => "/assets/blog/02.jpg"}/
                  .blog_content.bg_white.color_secondery
                    .blog_title
                      %a.color_primary{:href => "blog-details.html"}
                        %h5 A programmer is like a machine that turns coffee into code
                    %p.mt_15.mb_30
                      By reputation, computer programmers drink a lot of coffee to stay mentally alert, and write a lot of code (computer programs are called “code”).
                      %br
                      So programmers are described as machines that convert coffee (their habitual input) into code (their habitual output)...
                    .admin
                      %img{:alt => "image", :src => "/assets/blog/developer.png"}
                      %span.color_white By - John Nguyễn
                    .date.float-right.color_primary 31 Jan 2021
              .col-md-12.col-lg-4
                .blog_item
                  .comments
                    %i.fa.fa-comment{"aria-hidden" => "true"}
                    %span.color_white 23
                  .blog_img.overlay_one
                    %img{:alt => "image", :src => "/assets/blog/03.jpg"}
                  .blog_content.bg_white.color_secondery
                    .blog_title
                      %a.color_primary{:href => "blog-details.html"}
                        %h5 What Does a Software Engineer Do? A Day in the Life
                    %p.mt_15.mb_30
                      A day in the life of a software engineer is ever-changing. While there are definite trends across the profession, the truth is that software engineers can work just about anywhere. From design companies, to finance, to manufacturing, software engineers are needed across...
                    .admin
                      %img{:alt => "image", :src => "/assets/blog/developer.png"}/
                      %span.color_white By - John Nguyễn
                    .date.float-right.color_primary 20 March 2021
            .mx-auto.text-center.mt_60
              %a.btn.btn-default{:href => "blog.html"} View Blog