%section.blog_area.p_100
  .container
    .row.blog_grid_inner
      .col-lg-8
        .single_blog_inner
          %article.blog_item
            .blog_img
              %img.img-fluid{:alt => "", :src => "https://droitthemes.com/html/motodeal/img/blog/main-blog/blog-1.jpg"}
              .blog_text
                .cat_area
                  .cat_list
                    %a{:href => "#"} News
                  %a{:href => "#"}
                    %i.icon-calendar1
                    Nov 20, 2019
                  %a{:href => "#"}
                    %i.icon-user-o
                    By Admin
                %a{:href => "#"}
                  %h3 Main reasons to buy luxury car in 2018
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit sed them eiusmod. tempor incididunt is labore et dolorie magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. ullamco labo ris nisi ut aliquip ex ea commodo consequat.
                %p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam
                %blockquote.blockquote
                  %p Social media change the relationship between them also companies .and cust omers from masters to servants and many more to come in the end...
                  %h4 Rodney Artichoke
                .single_view
                  %p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam
                  %img.img-fluid{:alt => "", :src => "https://droitthemes.com/html/motodeal/img/blog/main-blog/single-blog-1.jpg"}
                    %p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam
                  .single_social
                    %h5 Share
                    %a{:href => "#"}
                      %i.fab.fa-facebook
                    %a{:href => "#"}
                      %i.fab.fa-youtube
                    %a{:href => "#"}
                      %i.fab.fa-twitter
                    %a{:href => "#"}
                      %i.fab.fa-dribbble
      .col-lg-4
        .right_sidebar_area
          %aside.r_widget.search_widget
            .input-group
              %input.form-control{:placeholder => "Search...", :type => "text"}
                .input-group-append
                  %button.btn{:type => "button"}
                    %i.icon-search1
          %aside.r_widget.news_widget
            .r_title
              %h3 Latest News
            .news_inner
              .media
                .d-flex
                  %img{:alt => "", :src => "https://droitthemes.com/html/motodeal/img/blog/l-news/l-news-1.jpg"}
                .media-body
                  %a{:href => "#"}
                    %h4 The harder you work them more luck.
                  %a{:href => "#"}
                    %p
                      %i.icon-calendar1>
                      March 14, 2019
              .media
                .d-flex
                  %img{:alt => "", :src => "https://droitthemes.com/html/motodeal/img/blog/l-news/l-news-2.jpg"}
                .media-body
                  %a{:href => "#"}
                    %h4 Bartosz Ostalowski is a pro with his feet
                  %a{:href => "#"}
                    %p
                      %i.icon-calendar1>
                      March 14, 2019
              .media
                .d-flex
                  %img{:alt => "", :src => "https://droitthemes.com/html/motodeal/img/blog/l-news/l-news-3.jpg"}
                .media-body
                  %a{:href => "#"}
                    %h4 Fiat Chryler senior for manager charged in
                  %a{:href => "#"}
                    %p
                      %i.icon-calendar1>
                      March 14, 2019