%section.breadcrumb_area{:style => "background: url(/assets/breadcrumb/breadcrumb-bg-3.jpg)"}
  .container
    .breadcrumb_inner
      %h3 Car Shop
      .link
        %a{:href => "index.html"} Home
        %a{:href => "#"} Shop