%section.main_slider_area
  .main_slider.budget_slider
    .slider_item.covert_size
      .image_overlay{:style => "background: url(assets/home-slider/background-1.jpg);"}
    .slider_item.covert_size
      .image_overlay{:style => "background: url(assets/home-slider/background-2.jpg);"}
    .slider_item.covert_size
      .image_overlay{:style => "background: url(assets/home-slider/background-3.jpg);"}
  .slider_nav.slider_nav_four
    %i.arrow_left.ti-angle-left
    %i.arrow_right.ti-angle-right