%section.main_slider_area
  .main_slider.budget_slider.js-fullheight
    .slider_item.js-fullheight
      .image_overlay{:style => "background: url(assets/home-slider/background-1.jpg) no-repeat;"}
    .slider_item.js-fullheight
      .image_overlay{:style => "background: url(assets/home-slider/background-2.jpg) no-repeat;"}
    .slider_item.js-fullheight
      .image_overlay{:style => "background: url(assets/home-slider/background-3.jpg) no-repeat;"}
  .slider_nav.slider_nav_four
    %i.arrow_left.ti-angle-left
    %i.arrow_right.ti-angle-right