%footer.footer_area.red_footer_area.budget_footer
  .footer_widgets
    .container
      .row.f_widgets_inner
        .col-lg-3.col-sm-6
          %aside.f_widget.about_widget
            .l_f_title
              %h3 Toyota Gò Vấp
            %p
              %i.icon-map_marker_2{"aria-hidden" => "true"}
              18 Phan Văn Trị, Phường 7, Q. Gò Vấp, TP.HCM
            %a{:href => "mailto:minhduyen0608@gmail.com"}
              %i.icon-envelop_2{"aria-hidden" => "true"}
              %span minhduyen0608@gmail.com
            %a{:href => "tel:(+84)38 382 9828"}
              %i.icon-phone_2{"aria-hidden" => "true"}
              038 382 9828
            %p
              %i.icon-clock
              Thứ 2 - Thứ 7: 07:00 -17:00
              %br
              Chủ Nhật: 08:00 - 17:00
        .col-lg-2.col-sm-6
          %aside.f_widget.link_widget.wow.fadeInUp.animated{"data-wow-delay" => "0.4s", :style => "visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;"}
            .l_f_title
              %h3 Thông Tin
            %ul.nav.flex-column
              %li
                = link_to 'Về Chúng Tôi', introduces_about_us_path
              %li
                = link_to 'Nhà phát triển', 'https://www.facebook.com/locmiclabs/', target: '_blank'
              %li
                %a Dịch Vụ
              %li
                %a Sản Phẩm
              %li
                %a Blog
              %li
                = link_to 'Liên Hệ', contacts_path
        .row.col-lg-7.col-sm-6
          .col-sm-6
            %aside.f_widget.link_widget.wow.fadeInUp.animated{"data-wow-delay" => "0.6s", :style => "visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;"}
              .l_f_title
                %h3 Chính Sách
              %ul.nav.flex-column
                %li
                  %a Điều khoản chính sách
                %li
                  %a  Bảo mật thông tin cá nhân
                %li
                  %a Thông Báo Bản Quyền
          .col-sm-6
            %aside.f_widget.subscribe_widget.wow.fadeInUp.animated{"data-wow-delay" => "0.8s", :style => "visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;"}
              .l_f_title
                %h3 Đăng ký
              %ul.nav
                %li
                  %a
                    %i.fab.fa-facebook
                %li
                  %a
                    %i.fab.fa-youtube
                %li
                  %a
                    %i.fab.fa-twitter
                %li
                  %a
                    %i.fab.fa-google-plus
          .col-lg-12.google-map
            %iframe.wow.fadeInUp.animated{:allowfullscreen => "", :height => "240px", :loading => "lazy", :width => "100%", "data-wow-delay" => "0.2s", :style => "visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.768962594457!2d106.68159251480125!3d10.828984792285846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x34423eacd92b23bf!2zU2hvd3Jvb20gVG95b3RhIEfDsiBW4bqlcA!5e0!3m2!1svi!2s!4v1634269685639!5m2!1svi!2s"}

  .footer_copyright
    .container
      .copyright_inner.d-flex.justify-content-between
        .left
          %p
            Copyright Reserved by
            %a{:href => "https://www.facebook.com/locmiclabs", target: '_blank'} Ruby dev
            #{Time.current.year}