.hotline-phone-ring-wrap
  %a.hotline-phone-ring{:href => "tel:(+84)38 382 9828"}
    .hotline-phone-ring-circle
    .hotline-phone-ring-circle-fill
    .hotline-phone-ring-img-circle
      .pps-btn-img
        = image_tag('icon/hotline', :width => "60")
  .hotline-bar
    %a{:href => "tel:(+84)38 382 9828"}
      %span.text-hotline 038 382 9828