%section.market_place_area.p_100
  .container
    .row.market_inner
      .col-lg-6
        .car_img
          = image_tag("camry.jpg", class: 'img-fluid')
          %ul.nav
            %li.wow.fadeInLeft.animated{"data-wow-delay" => "0.2s", :style => "visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;"}
              %h4 30+
              %h5 Mẫu xe
            %li.wow.fadeInDown.animated{"data-wow-delay" => "0.4s", :style => "visibility: visible; animation-delay: 0.4s; animation-name: fadeInDown;"}
              %h4 20+
              %h5 Quà tặng
            %li.wow.fadeInRight.animated{"data-wow-delay" => "0.5s", :style => "visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;"}
              %h4 80%
              %h5 Hỗ trợ trả góp
      .col-lg-6
        .market_text
          %h3
            = image_tag("icon/flag.png")
            Công ty kinh doanh ôtô
            %span Toyota tốt nhất
            Việt Nam.
          .row.maket_item_inner
            .col-sm-6
              .media
                .d-flex
                  %i.icon-car_2
                .media-body
                  %h4 Dòng xe mới nhất
                  %p Lorem ipsum dolor sit amet consectetur adipisicing
            .col-sm-6
              .media
                .d-flex
                  %i.icon-pricing
                .media-body
                  %h4 Giá tốt nhất
                  %p Lorem ipsum dolor sit amet consectetur adipisicing
            .col-sm-6
              .media
                .d-flex
                  %i.icon-car_shield
                .media-body
                  %h4 Thương hiệu toàn cầu
                  %p Lorem ipsum dolor sit amet consectetur adipisicing
            .col-sm-6
              .media
                .d-flex
                  %i.icon-rating
                .media-body
                  %h4 Xếp hạng tốt nhất
                  %p Lorem ipsum dolor sit amet consectetur adipisicing