%section.find_form
  .container
    .find_title
      %i.icon-car_2
      Tìm kiếm xe
    .find_form_inner.row.m0
      .find_item
        %select.nice_select
          %option{:value => "1"} Kiểu dáng
          %option{:value => "2"} option 1
          %option{:value => "3"} option 2
      .find_item
        %select.nice_select
          %option{:value => "1"} Số ghế
          %option{:value => "2"} option 1
          %option{:value => "3"} option 2
      .find_item
        %select.nice_select
          %option{:value => "1"} Năm sản xuất
          %option{:value => "2"} option 1
          %option{:value => "3"} option 2
      .find_item
        %select.nice_select
          %option{:value => "1"} Dòng xe
          %option{:value => "2"} option 1
          %option{:value => "3"} option 2
      .find_item
        %button.submit_btn{:type => "button"} Tìm Kiếm