%section.budget_feaute_area
  .container
    .row.b_feature_inner
      .col-lg-3.col-sm-6
        .b_f_item.wow.fadeInLeft.animated{"data-wow-delay" => "0.2s", :style => "visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;"}
          .icon
            %i.icon-free_delivery
          %a{:href => "#"}
            %h4 Free Shipping
          %p Lorem ipsum dolor sit amet after consectetur adipisicing
      .col-lg-3.col-sm-6
        .b_f_item.wow.fadeInLeft.animated{"data-wow-delay" => "0.4s", :style => "visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;"}
          .icon
            %i.icon-setting
          %a{:href => "#"}
            %h4 5 Free Servicing
          %p Lorem ipsum dolor sit amet after consectetur adipisicing
      .col-lg-3.col-sm-6
        .b_f_item.wow.fadeInLeft.animated{"data-wow-delay" => "0.6s", :style => "visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;"}
          .icon
            %i.icon-support1
          %a{:href => "#"}
            %h4 24/7 Help Center
          %p Lorem ipsum dolor sit amet after consectetur adipisicing
      .col-lg-3.col-sm-6
        .b_f_item.wow.fadeInLeft.animated{"data-wow-delay" => "0.8s", :style => "visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;"}
          .icon
            %i.icon-gist
          %a{:href => "#"}
            %h4 Sure Gift Packs
          %p Lorem ipsum dolor sit amet after consectetur adipisicing