%section.budget_feaute_area
  .container
    .row.b_feature_inner
      .col-lg-3.col-sm-6
        .b_f_item.wow.fadeInLeft.animated{"data-wow-delay" => "0.2s", :style => "visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;"}
          .icon
            %i.icon-car_shield
          %h4 Chính sách bảo hảnh
          %p Chính sách mang lại những sửa chữa cần thiết, sử dụng những phụ tùng mới hoặc những phụ tùng tái chế cho xe của Khách hàng nằm trong chế độ được bảo hành.
      .col-lg-3.col-sm-6
        .b_f_item.wow.fadeInLeft.animated{"data-wow-delay" => "0.4s", :style => "visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;"}
          .icon
            %i.icon-setting
          %h4 Dịch vụ sửa chữa
          %p Ngoài dịch vụ bảo dưỡng và sửa chữa những hiện tượng bất thường trên xe, Toyota cũng cung cấp dịch vụ sửa chữa đối với những hư hỏng do va chạm mà chiếc xe của Khách hàng gặp phải trong quá trình sử dụng.
      .col-lg-3.col-sm-6
        .b_f_item.wow.fadeInLeft.animated{"data-wow-delay" => "0.6s", :style => "visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;"}
          .icon
            %i.icon-support1
          %h4  Hỗ trợ 24/7
          %p Công ty luôn có những nhân viên chăm sóc khách hàng túc trực 24/7 để được hỗ trợ khách hàng.
      .col-lg-3.col-sm-6
        .b_f_item.wow.fadeInLeft.animated{"data-wow-delay" => "0.8s", :style => "visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;"}
          .icon
            %i.icon-gist
          %h4 Ưu đãi
          %p Toyota luôn có các chương trình ưu đãi đặc biệt dành riêng cho khách hàng, hãy nhanh tay gọi vào hotline để được tư vấn và hỗ trợ.
          %a{:href => "tel:(+84)35 750 2346"}
            %strong hotline:  035 750 2346