%section.budget_feaute_area
  .container
    .row.b_feature_inner
      .col-lg-3.col-sm-6
        .b_f_item.wow.fadeInLeft.animated{"data-wow-delay" => "0.2s", :style => "visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;"}
          .icon
            %i.icon-car_shield
          %a{:href => "#"}
            %h4 Chính sách bảo hảnh
          %p Lorem ipsum dolor sit amet after consectetur adipisicing
      .col-lg-3.col-sm-6
        .b_f_item.wow.fadeInLeft.animated{"data-wow-delay" => "0.4s", :style => "visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;"}
          .icon
            %i.icon-setting
          %a{:href => "#"}
            %h4 Dịch vụ sửa chữa
          %p Lorem ipsum dolor sit amet after consectetur adipisicing
      .col-lg-3.col-sm-6
        .b_f_item.wow.fadeInLeft.animated{"data-wow-delay" => "0.6s", :style => "visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;"}
          .icon
            %i.icon-support1
          %a{:href => "#"}
            %h4  Hỗ trợ 24/7
          %p Lorem ipsum dolor sit amet after consectetur adipisicing
      .col-lg-3.col-sm-6
        .b_f_item.wow.fadeInLeft.animated{"data-wow-delay" => "0.8s", :style => "visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;"}
          .icon
            %i.icon-gist
          %a{:href => "#"}
            %h4 Ưu đãi
          %p Lorem ipsum dolor sit amet after consectetur adipisicing